name: CI

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # skipping python 3.5 (doesn't seem to play well with install-poetry action)
        python-version: [3.6, 3.7, 3.8, 3.9]
        django-version: [2.2, 3.2]
        db-engine: [sqlite, postgres]

    env:
      PYTHON_VERSION: ${{ matrix.python-version }}
      DJANGO_VERSION: ${{ matrix.django-version }}
      DB_ENGINE: ${{ matrix.db-engine }}

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Git checkout
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Poetry
      uses: snok/install-poetry@v1.1.6
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Load cached venv
      id: cached-poetry-dependencies
      uses: actions/cache@v2
      with:
        path: .venv
        key: venv-${{ runner.os }}-${{ hashFiles('poetry.lock') }}

    - name: Install dependencies
      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      run: poetry install --no-interaction --no-root

    - name: Install django ${{ matrix.django-version }}
      run: |
        source .venv/bin/activate
        pip install "Django==${{ matrix.django-version }}"

    - name: Test with coverage
      env:
        DJANGO_SETTINGS_MODULE: tests.settings
        POSTGRES_HOST: localhost
        POSTGRES_PORT: 5432
        POSTGRES_DB: postgres
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        PYTHONPATH: .
      run: poetry run coverage run --include='*/timezone_field/*' .venv/bin/django-admin test

    - name: Generate coverage report
      run: poetry run coverage xml

    - name: Upload coverage report to codecov
      uses: codecov/codecov-action@v1
      with:
        env_vars: PYTHON_VERSION,DJANGO_VERSION,DB_ENGINE
        fail_ci_if_error: true
